body {
    
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #0e2b4c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
}

footer a{
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-top: 12px;
}

section {
    padding: 12px;
}

section H1 {
    color: #0e2b4c;
    font-weight: 600;
    padding: 12px;
}
/* Color de fondo de la barra */
.topnav {
    background-color: #0e2b4c;
    overflow: hidden;
    
}

/* Estilo de los vínculos */
.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

/* Cambia el estilo en hover */
.topnav a:hover {
    background-color: whitesmoke;
    color: #2d99dc;
}

/* Define el estilo de la página activa */
.topnav a.activa {
    background-color:#2d99dc;
}

/* Oculta el ícono de hamburguesa en pantallas grandes */
.topnav .icono {
    display: none;
}

header {
    display: flex;
    justify-content: flex-start;
    /*align-items: center;*/
}

.acceso a{
    color: #0e2b4c;
    font-size: 20px;
    padding: 10px;
}


#destino {
    width: 240px;
    margin-left: 12px;
    margin-top: 12px;
    border-style: solid;
    border-color: gray;
    border-width: 0.5px;
    padding: 24px;
}

#destino:hover {
    transform: scale(1.1);
}

#grilla-destino {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   align-content: center;
}


/* Configuraciones responsivas */

@media screen and (min-width: 1024px){
    div.headerGrande1{
        display: inline-block;
        width: 22%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/perito.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }

    div.headerGrande2{
        display: inline-block;
        width: 22%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/chalten.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    div.headerGrande3{
        display: inline-block;
        width: 22%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/puente.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    div.headerGrande4{
        display: inline-block;
        width: 22%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/condor.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;            
    }
    div.headerGrandeLogo{
        display: inline-block;
        width: 12%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(255, 255,255);
        background-image:url(../img/viajAr_logo.png);
        background-repeat:no-repeat;
        background-size: 98% 100%;
               
    }

    #centrado { width: 1024px; margin: 0 auto; }

    }

@media screen and (min-width: 768px) and (max-width:1023px){
    div.headerGrande1{
        display: inline-block;
        width: 29%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/perito.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }

    div.headerGrande2{
        display: inline-block;
        width: 29%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/chalten.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }
    div.headerGrande3{
        display: inline-block;
        width: 29%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/puente.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }
    div.headerGrande4{
        display: inline-block;
        width: 0%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/condor.jpg);
        background-size: cover;
        background-repeat:no-repeat;            
    }
    div.headerGrandeLogo{
        display: inline-block;
        width:124px ;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(255, 255,255);
        background-image:url(../img/viajAr_logo.png);
        background-repeat:no-repeat;
        background-size:98% 100%;
               
    }

    #centrado { width: 100%; margin: 0 auto; }



    }

@media screen and (max-width: 768px) {
    
    div.headerGrande1{
        display: inline-block;
        width: 190px;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/perito.jpg);
        background-size:100% 100%;
        background-repeat:no-repeat;
    }

    div.headerGrande2{
        display: inline-block;
        width: 190px;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/chalten.jpg);
        background-size: 100% 100%;
        background-repeat:no-repeat;
    }
    div.headerGrande3{
        display: inline-block;
        width: 0%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/puente.jpg);
        background-size: cover;
        background-repeat:no-repeat;
    }
    div.headerGrande4{
        display: inline-block;
        width: 0%;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(128, 0, 255);
        background-image:url(../img/condor.jpg);
        background-size: cover;
        background-repeat:no-repeat;            
    }
    div.headerGrandeLogo{
        display: inline-block;
        width: 124px;
        height: 170px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        background-color: rgb(255, 255,255);
        background-image:url(../img/viajAr_logo.png);
        background-repeat:no-repeat;
        background-size: 100% 100%;
               
    }

    #centrado { width: 100%; margin: 0 auto; }

    
    .topnav a:not(.activa) {
        display: none;
    }
    
    .topnav a.icono {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icono {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #destino {
        width: 160px;
        margin-left: 12px;
        margin-top: 12px;
        border-style: solid;
        border-color: gray;
        border-width: 0.5px;
        padding: 12px;
    }

    #destino:hover {
        transform: scale(1.1);
    }

    #grilla-destino {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       align-content: center;
    }

    


}
    
/* breack point celular */
@media screen and (max-width: 320px) {
    
    header img{
        width: 60px;
    }

    header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    section {
        padding: 4px;
    }

    section h1 {
        padding: 1px;
    }

    section article img {
        width: 100%;
        margin-top: 5px;
    }

    #info-destino {
        margin-bottom: 20px;
        border-bottom: gray;
    }

    #destino {
        border-bottom-style: solid;
        border-bottom-color: gray;
        margin-top: 5px;
        margin-bottom: 10px;
    }


}
